@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

:root {
    --colorTextSecondary: floralwhite;

    --colorPrimary: #20408A;
    --colorSecondary: #A9ABAE;

    --MainFont: 'Poppins', sans-serif;

    --imgDelete_trash: url(../img/trash.png);
}